@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply rounded-[15px] bg-white p-10;
}

.menu {
  @apply w-full text-2xl font-semibold text-black;
}

.title {
  @apply text-2xl font-bold text-black;
}

.section {
  @apply grid h-full w-full place-items-center;
}

.description {
  @apply ml-2 text-sm font-thin;
}

.button {
  @apply rounded-[8px] bg-primary text-sm text-white;
}

.textfield {
  @apply w-full rounded-md border-[0.5px] border-secondary p-2 text-sm;
}
