@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply rounded-[15px] bg-white p-10;
}

.title {
  @apply text-2xl font-bold;
}

.description {
  @apply ml-2 text-sm font-thin;
}

.button {
  @apply rounded-[8px] bg-primary text-sm text-white;
}

.textfield {
  @apply w-full rounded-md border-[0.5px] border-secondary p-2 text-sm;
}
